In [1]:
import math
from geopy.distance import geodesic

import numpy as np
import pandas as pd

In [2]:
drivers = pd.read_csv('drivers.csv')
passengers = pd.read_csv('passengers.csv')

In [3]:
drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   driver_id       5 non-null      object
 1   origin_lat      5 non-null      float64
 2   origin_lon      5 non-null      float64
 3   dest_lat        5 non-null      float64
 4   dest_lon        5 non-null      float64
 5   departure_time  5 non-null      object
 6   arrival_time    5 non-null      object
dtypes: float64(4), object(3)
memory usage: 412.0+ bytes

In [4]:
drivers.head()

,driver_id,origin_lat,origin_lon,dest_lat,dest_lon,departure_time,arrival_time
0,D1,19.4326,-99.1332,19.451,-99.14,08:00,08:30
1,D2,19.4100,-99.1800,19.420,-99.10,08:15,08:50
2,D3,19.3500,-99.2000,19.370,-99.12,07:45,08:25
3,D4,19.4800,-99.1500,19.450,-99.08,09:00,09:35
4,D5,19.3000,-99.1100,19.360,-99.20,07:30,08:10